/* PDF */
.canvas-wrapper
{
	margin: 0.5em 1em 0.5em 0em;
	border: 1px solid #AAAAAA;
}

#pdf-container
{
	overflow-y: scroll;
	width: 100%;
}

/* CONTROLS */
.control-panel
{
	margin: 0; padding: 0;
	border-top: 1px solid #AAAAAA;
}

.control-panel .video-controls
{
	position: absolute; top: -27px;
	width: 100%; min-width: 315px;
	height: 66px;
	background: url(../ressources/controls_header.png) no-repeat; overflow: hidden;
	border-bottom: 1px solid #AAAAAA;
}

/* TIMELINE */
#timeline
{
	position: fixed;
	width: 100%; height: 25%;
	bottom: 0;
}

.timeline-panel,
.control-panel
{
	margin: 0; padding: 0;
	bottom: 0; height: 100% !important;
	border-left: 1px solid #AAAAAA;
}

.timeline-controls,
.timeline-tracks-holder,
.timeline-zone-selector
{
	position: absolute;
}

.timeline-controls
{
	height: 40px; width: 100%;
	padding: 10px 0px 10px 0px;
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
}

.timeline-tracks-holder
{
	top: 40px; bottom: 60px;
	width: 100%;
	overflow-y: scroll;
	background-color: #E4E4E4;
}

.timeline-zone-selector
{
	position: fixed;
	bottom: 0px;
	height: 60px; width: 100%;
	padding: 10px 0px 10px 0px;
	border-top: 1px solid #AAAAAA;
	background-color: white;
}

.timeline-track
{
	height: 1em; width: 100%;
	margin: 1px 0px 2px 0px;
	border-bottom: 1px solid white;
	opacity: 0.5;
}

/* slider time timeline */
.timeline-controls .ui-slider
{
	margin: 4px 5px 0px 5px;
	padding: 0px 5px 0px 5px;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	background: #E4E4E4;
}

.timeline-controls .ui-slider-handle
{
	width:31px; height:30px; 
    background:url(../ressources/time_cursor.png) no-repeat; overflow: hidden; 
	position:absolute;
    top: -10px;
    border-style:none;
    border-radius: 0px 0px 0px 0px;
}

/* slider zone selector */
.timeline-zone-selector .ui-slider
{
	height: 31px;
	margin: 4px 5px 0px;
	padding: 0px 5px 0px;
	background: #E4E4E4;
}

.timeline-zone-selector .ui-slider-range
{
	height: 27px;
	margin-top: 1px;
	background: white;
}

.timeline-zone-selector .ui-slider-handle:nth-child(2)
{
	width:13px; height:39px; 
    background:url(../ressources/handle_left.png) no-repeat; overflow: hidden; 
    position:absolute;
    top: -5px; left: 5px;
    border-style:none;
    border-radius: 0px 0px 0px 0px;
}

.timeline-zone-selector .ui-slider-handle:nth-child(3)
{
	width:13px; height:39px; 
    background:url(../ressources/handle_right.png) no-repeat; overflow: hidden; 
    position:absolute;
    top: -5px; left: -5px;
    border-style:none;
    border-radius: 0px 0px 0px 0px;
}