
#header
{
	border-bottom: 1px solid #AAAAAA;
	height: 30px;
}

#video-container{
	background: #DEDEDE;
	height: 100%;
}

#video-wrapper{
	background: white;
	width: 95%;
	margin: auto;
	vertical-align: middle;
}

.right-control *{
	margin: auto;
}

.row-right-control1{
	height: 40px; width: 100%;
	padding: 10px 0px 10px 0px;
	margin-top: 40px;
}

.row-right-control2{
	top: 40px; bottom: 60px;
	width: 100%;
}

.row-right-control3{
	height: 1.5em; width: 100%;
	margin: 1px 0px 2px 0px;
}