.timeline-panel
{
	width: 100%;
	background-color: blue;
}

.timeline-track
{
	height: 1em;
	width: 100%;
	background-color: red;
}

.timeline-track-event
{
	height: 1em;
	width: 0em;
	background-color: orange;
}