<head>
	<!-- JQuery -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">
	<!-- Timeline -->
	<script type="text/javascript" src="../src/timeline.js"></script>
	<!-- jQuery UI libray -->
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../style/timeline.css">
</head>
<header>
	<!-- LOGO - Titre projet en cours - IMPORT - EXPORT -->
</header>
<body>
	<div id="video-container">

	</div>
	<div id="pdf-container">
		
	</div>
	<div id="timeline">
		
	</div>
</body>