<head>
	<title>editor</title>
	<!-- JQuery -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<!-- jQuery UI libray -->
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">
	<!-- PDF.JS -->
	<script type="text/javascript" src="../lib/pdf.js"></script>
	<script type="text/javascript" src="../lib/pdf.worker.js"></script>
	<!--#if !(MOZCENTRAL || CHROME || MINIFIED)-->
    <script src="../src/compatibility.js"></script>
	<!--#endif-->
	<!-- JS SCRIPTS -->
	<script type="text/javascript" src="../src/pdf.js"></script>
	<script type="text/javascript" src="../src/timeline.js"></script>
	<script type="text/javascript" src="../src/resize.js"></script>

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../style/global.css">
	<link rel="stylesheet" type="text/css" href="../style/inline.css">
	<link rel="stylesheet" type="text/css" href="../style/pdf.css">
	<link rel="stylesheet" type="text/css" href="../style/testStyle.css">
</head>
<header>
	<!-- LOGO - Titre projet en cours - IMPORT - EXPORT -->
	
</header>
<body>
	<div class="container-fluid">
		<div id="header" class="row">
		  <div class="col-xs-6">Titre projet</div>
		  <div class="col-xs-6">Titre pdf</div>
		</div>

		<div id="content" class="row">
			  <div id="video-container" class="col-xs-6">
			  	<div id="video-wrapper">
				</div>
			  </div>
			  <div class="col-xs-6">
			  	<div id="pdf-container">
				</div>
			  </div>
		</div>
		<div id="timeline"></div>
	</div>
</body>